body{
    margin: 0;
}

.main-wrapper{
    background-color: antiquewhite;
    height: 100vh;
    background-image: linear-gradient(to bottom, #685752, #fdf7f488), url('https://picsum.photos/1500');
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
}
